* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
body {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #717171;
  line-height: 24px;
}
h1 {
  font-size: 64px;
  line-height: 119%;
  font-weight: 600;
  color: #4d4d4d;
  margin-bottom: 16px;
  letter-spacing: 2px;
}
h1 span {
  color: #4caf4f;
}
h2 {
  font-size: 36px;
  line-height: 122%;
  font-weight: 600;
  color: #4d4d4d;
  margin-bottom: 8px;
  letter-spacing: 1px;
}
h2 span {
  color: #4caf4f;
}
h3 {
  font-size: 28px;
  line-height: 128%;
  letter-spacing: 1px;
  color: gray;
  font-weight: 700;
}
h4 {
  font-size: 20px;
  line-height: 140%;
  color: gray;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}
a {
  color: #18181f;
  text-decoration: none;
}
/*.container {
  max-width: 1152px;
  margin: 0 auto;
}*/

p{
  margin-bottom: 0;
}

.button_light-sm {
  font-family: "Inter", serif;
  background-color: #f5f7fa;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 400;
  line-height: 143%;
  color: #4caf4f;
}
.button_primary-sm {
  font-family: "Inter", serif;
  color: white;
  background-color: #4caf4f;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 14px;
  line-height: 143%;
  font-weight: 400;
}
.button_primary-xl {
  font-family: "Inter", serif;
  color: white;
  background-color: #4caf4f;
  padding: 14px 32px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 150%;
  font-weight: 400;
}
.button_icon {
  padding: 12px;
}
.button_icon img {
  vertical-align: middle;
}