.footer {
  background-color: #263238;
  padding: 60px 0 20px;
}
.footer__content {
  margin-bottom: 80px;
}
.footer__copyright {
  text-align: center;
  font-size: 14px;
  line-height: 20px;
}
.footer__item h4 {
  color: white;
  margin-bottom: 24px;
  letter-spacing: 3px;
}
.footer__item .text_right {
  letter-spacing: 2px;
}
.footer__item .footer__item-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__item .footer__item-links li {
  line-height: 20px;
}
.footer__item .footer__item-links a {
  color: white;
  font-size: 14px;
}
.footer__item .footer__item-links a:hover {
  opacity: 0.5;
  transition: 200ms;
}
/*.footer__item:last-child {
  text-align: right;
}*/
.footer__form {
  margin-bottom: 24px;
  overflow: hidden;
  max-width: 291px;
  border-radius: 8px;
  background-color: #3b464c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}
.footer__form label {
  width: 100%;
}
.footer__form .footer__form-input {
  height: 44px;
  width: 100%;
  background: transparent;
  padding: 12px 0 12px 12px;
  outline: none;
  color: white;
  font-size: 14px;
  line-height: 20px;
}
.footer__form .footer__form-input::placeholder {
  color: #D9D8E1;
}
.footer__form .button_icon {
  padding-left: 0;
}
.footer__item-social a {
  width: 32px;
  height: 32px;
  align-items: center;
  background-color: #3b464c;
  border-radius: 50%;
}
.footer__item-social a:hover {
  transform: scale(1.1);
  transition: 200ms;
}